{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand">Patient Dashboard</a> 
        <a class="btn btn-outline-info" aria-current="page" href="{% url 'logout' %}">logout</a>
        </div>
    </nav>
    <div class="container">
        <section class="vh-100" style="background-color: #f4f5f7;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                  <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                      <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        <img
                          src="{{request.user.profilepic.url}}"
                          alt="Avatar"
                          class="img-fluid my-5"
                          style="width: 80px;"
                        />
                        <h5>{{request.user.first_name}}&nbsp{{request.user.last_name}}</h5>
                        <p>Patient</p>
                        <i class="far fa-edit mb-5"></i>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body p-4">
                          <h6>Information</h6>
                          <hr class="mt-0 mb-4">
                          <div class="row pt-1">
                            <div class="col-12 mb-3">
                              <p>Username: <span>{{request.user.username}}</span></p>
                              <p>First Name: <span>{{request.user.first_name}}</span></p>
                              <p>Username: <span>{{request.user.last_name}}</span></p>
                              <p>Email: <span>{{request.user.email}}</span></p>
                              <p>Address: <span>{{request.user.address}}</span></p>
                            
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


    </div>
{% endblock content %}